html{
    width: 100%;
    font-family: 'Roboto', sans-serif;      
}

nav{

    height: 80px;
    width: 100%;
    background-color:darkgrey;
    position:fixed;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
   
}

.contenedorNav{
    width: 600px;
    height: 70px;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-around
} 
.contenedorNav li{
    display: flex;
    justify-content:center;
    align-items: center;
      
}

.contenedorNav li a{ 
    display: flex;  
    align-items: center;
    text-decoration: none;  
    color:black;
    border-radius:30px;
    font-family: 'Roboto', sans-serif;
    
}
.liNav1{
    height: 40px;
    width: 80px;
    border-radius:30px;

}
.liNav2{
    height: 40px;
    width: 165px;
    border-radius:30px;
 }

.liNav3{
    height: 40px;
    width: 130px;
    border-radius:30px;

 }
 .liNav4{
    height: 40px;
    width: 140px;
    border-radius:30px; 
    background-color: blanchedalmond;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;  

}

.contenedorNav li a:hover{
    color:darkslateblue;

}

.contenedorNav >li:active{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}












Header{
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(252, 245, 236);
    
}




.contenedorPresentacion{ 
    display: flex;
    flex-direction: column;
    justify-content:center; 
    height: 600px;
    width: 40%;
    background-color:rgb(252, 245, 236);
    
     
}
.contenedorPresentacion p{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}
.contenedorPresentacion h1{
   margin-top: 6px;
   margin-bottom: 6px;
    font-size: 70px;
    font-family: 'Satisfy', cursive;
    color:darkslateblue;
}
.contenedorPresentacion h5{
    
    font-size: 15px;
    color:rgb(134, 111, 81);
    font-family: 'Roboto', sans-serif; 
    
}



.botonPresentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    height: 40px;
    width: 160px;
    border-radius:30px;
    border: 0,5px solid;
    margin-top: 20px;
    background-color:darkgrey;
    color:rgb(52, 45, 97);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.botonPresentacion:hover{
    color:darkslateblue;

}

.ContenedorImagen{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornsilk;
    width: 45%;
    height: 600px;
}

.PresentacionImagen{
    width:100%;
    height: 500px;
    
}  

  


.conocimientos{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conocimientos h2 {
    font-size: 20px;
    
}




 


   

    