body{ 
     font-family: 'Roboto', sans-serif;
     background-color:rgb(252, 245, 236);      
}
h2{
     font-size: 45px;

     }   
.contenedor-navegacion{
     display: flex;
     justify-content:center;
     align-items: center;
     position:fixed;
     height: 80px;
     width: 100%;
     background-color:rgb(173, 173, 173);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
     
       
}

.barra-de-navegacion{
     display: flex;
     justify-content:flex-end ;
     align-items: center;  
     height: 80px;
     width: 85%;
     background-color:rgb(173, 173, 173);
     
}

.navegacion{ 
     display: flex;
     justify-content: space-around;
     list-style:none;
} 
.navegacion li{
     display: flex;
     justify-content:center;
     align-items: center;
     margin:8px;
      
}

.navegacion li a{ 
      display: flex;  
      align-items: center;
      text-decoration: none;  
      color:black;
      height: 40px;
      border-radius:30px;
    
}
.link-navegacion{
     height: 40px;
     border-radius:30px;
     
}
.hola{ 
     width: 80px;
}
.conocimiento{
     width: 170px;
 }

.proyecto{
     width: 140px;

 }
 .contacto{
     height: 40px;
     width: 140px;
     border-radius:30px;
     border: 1px solid rgb(134, 111, 81); 
     background-color:rgb(233, 215, 193);
     box-shadow: rgb(182, 177, 169) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;  
}

.navegacion li a:hover{
     color:darkslateblue;
}

.navegacion li:active{
     box-shadow: rgba(245, 233, 233, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
     
}



/* fin barra de navegacion */

/* comienzo seccion presentacion */


Header{
     width: 100%;
     height: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
    
}
.seccion-presentacion{
     height: 600px;
     width: 85%;
     background-color:rgb(252, 245, 236);
     display: flex;
     align-items: center;
     justify-content: center;
}

.contenedor-presentacion-desarrollo{ 
     display: flex;
     flex-direction: column;
     justify-content:center; 
     width: 50%;
     height: 600px;
     background-color:white;    
}
.contenedor-presentacion-desarrollo p{
     margin: 0%;
     font-size: 30px;

}
.contenedor-presentacion-desarrollo h1{
     margin-top: 6px;
     margin-bottom: 6px;
     font-size:70px;
     font-family: 'Satisfy', cursive;
     color:darkslateblue;
}
.contenedor-presentacion-desarrollo h5{
     font-size: 15px;
     color:rgb(134, 111, 81);
       
}

.boton-presentacion{
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration:none;
     height: 40px;
     width: 160px;
     border-radius:30px;
     border: 1px solid rgb(134, 111, 81);
     margin-top: 20px;
     background-color:darkgrey;
     color:rgb(52, 45, 97);
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.boton-presentacion:hover{
     color:darkslateblue;
     background-color:rgb(192, 190, 190);
}
.boton-presentacion:active{
     background-color:rgb(192, 190, 190);
     box-shadow:none;
   
}

.contenedor-presentacion-imagen{
     display: flex;
     justify-content: center;
     align-items: center;
     background: white;
     width: 50%;
     height: 600px;
}
.imagen-presentacion{
     width:100%;  
  
} 

/* <-- fin seccion presentacion, comienzo de seccion conocimiento-- */

 
main{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    
    }

.seccion-conocimientos{
     width: 85%;
     height: 900px;
     display: flex;
     flex-direction: column;
     align-items: center;   
   
}
.conocimientos-desarrollo{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
}


.desarrollo{
     display: flex;
     width: 350px;
     height: 90px;
     margin: 0%;
}
.conocimientos-ilustracion{
     display: flex;
     justify-content: center;
}
.ilustracion-mis-conocimientos{
     width: 250px;
     height: 600px; 
     margin: 8px;
     display: flex;
     flex-direction: column;
     align-items: center;   
}

.ilustracion-mis-conocimientos-cajas{
     width: 250px;
     height: 230px;
     margin: 10px;
     border-radius: 8px;
     border:1px solid darkgrey;
     background-color:white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     box-sizing: border-box;
     transition: 0.10s;
}
.ilustracion-mis-conocimientos-cajas:hover{
     border:1.5px solid  darkslateblue;
     color:darkslateblue;
     

}

.imagenes-ilustracion-mis-conocimientos{
     display: flex;
     width: 80px;
     height: 80px;
}
.ilustracion-cajas-mis-conocimientos p{
     font-size: 20px;
    
}




 /* fin seccion conocimiento, article- comentario */


 .article-comentario{
     width: 100%;
     height: 400px;
     background-color:rgb(173, 173, 173);
     display: flex;
     justify-content: center; 
 }

 .comentario{
     width: 70%;
     height: 300px;
     margin: 20px;
     background-color:rgb(173, 173, 173);
     display: flex;
     flex-direction: column;
     align-items: center; 
     justify-content: center;
     text-align: center;
     
 }
 .comentario-imagen-comilla{
      display: flex;
      height: 80px;
      width: 80px;
     margin: 15px;
 }
 .comentario p{
     font-size: 20px;
     
 }
 .comentario h3{
     font-size: 25px;
 }
 

 /* fin comentario, comienzo de seccion proyectos */

 .seccion-proyectos{
     width: 85%;
     height: 1500px;
     display: flex;
     flex-direction: column;
     align-items: center;
    
 }

 .proyectos-desarrollo{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     
}
 


.proyectos-ilustracion{ 
     display: flex;
     flex-wrap: wrap;
}


.ilustracion-cajas{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 300px;
     height: 280px;
     margin: 8px;
     border-radius: 8px;
     border:1px solid darkgrey;
     box-sizing: border-box;
     background-color:rgb(252, 245, 236);
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     
  }


  .ilustracion-cajas {
       display: flex;
       flex-direction: column;
       justify-content: center;
      
}

.ilustracion-cajas a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
    font-size: 16px;
    color:black ;
    
}
.ilustracion-cajas:hover{
     border:0.5px solid  darkslateblue;
     box-shadow: rgb(175, 169, 211) 0px 7px 29px 0px;

}
.ilustracion-cajas:active{
     border:2px solid  darkslateblue;
     background-color:white;
       
}


.contenedor-imagen img{
    width: 220px;
    height: 200px;
    
}
.imagen-proyectos{
     display: flex;
  
}


  /* fin demis proyectos, comienzo de formulario */

  .seccion-formulario{
       width: 100%;
       height: 900px;
       display: flex;
       justify-content: center;
       align-items: center;
  }

.formulario{
     width: 85%;
     border-radius: 20px;
     border:1px solid darkgrey;
     background-color:white;
     display: flex;
     justify-content:space-between;

}
.contenedor-formulario{
     width: 50%; 
     height: 600px;
     margin: 10px;
     padding: 20px;
     background-color: white;
     display: flex;
     flex-direction: column;
     
     
}

  .datos-personales-formulario{   
       display: flex;
  }
 

.email-mensaje-formulario{
     
     display: flex;
     flex-direction: column;
     

}
label{display: flex;
     flex-direction: column;
     margin: 8px;
     font-size: 18px;
}
input, textarea{
     margin: 8px;
     padding: 10px;
     font-size: 16px;
     border-radius: 20px;
     background-color: #f6f7fb;
     border: 1px solid #f6f7fb;
     
}
.email-mensaje{
     display: flex;
     flex-direction: column;
}
.formulario-boton{
     display: flex;

}
.boton-enviar{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 40px;
     width: 140px;
     border-radius: 30px;
     border: 1px solid rgb(134, 111, 81);
     margin-top: 20px;
     background-color:darkgrey;
     color: black;
     font-size: 18px;
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


  